<div class="container-home">

  <div class="hero-background-shadow">
    <div class="hero-background"></div>
  </div>
  <div class="content">
      <div class="hero-content-container">
        <div>
          <div class="hero-container">
            <div>
              <p class="hero-title">Fast Go, Solução para entregas online </p>
              <p class="hero-subtitle"> Recebemos sua encomenda, e levamos para você</p>
              <div class="hero-container-btn">
                <a matRipple  class="btn-menu btn-singup" href="/login">Vamos Começar!</a>
                <div matRipple class="icon-play-container">
              </div>
            </div>
            <img class="hero-image" src="../../../assets/images/hero.png" alt="hero ilustration" >
          </div>

        </div>

        <div class="title-cards-container">
          <h1 class="title-cards">Solução para qualquer entrega</h1>
          <hr class="solid">
        </div>
        <div class="cards-container">
          <div class="card">

              <img class="card-img" src="../../../assets/images/moto.png" alt="motocicle">

            <div class="card-container">
              <h2 class="card-title">Entrega Agendada</h2>
              <p class="card-subtitle">Entregamos sua emcomenda no conforto da sua casa no horário agendado</p>
            </div>
          </div>
          <div class="card">

              <img class="card-img" src="../../../assets/images/cart.png" alt="motocicle">

            <div class="card-container">
              <h2 class="card-title">Pedido Online</h2>
              <p class="card-subtitle">Ficaremos contente de receber e armazenar sua compra online</p>
            </div>
          </div>
          <div class="card">

              <img class="card-img" src="../../../assets/images/delivery_man.png" alt="motocicle">

            <div class="card-container">
              <h2 class="card-title">Entrega Facilitada</h2>
              <p class="card-subtitle">Se preferir pode retirar o pedido com a gente ou levamos até você</p>
            </div>
          </div>
          <div class="card">

              <img class="card-img" src="../../../assets/images/delivery.png" alt="motocicle">

            <div class="card-container">
              <h2 class="card-title">Sete dias por semana </h2>
              <p class="card-subtitle">Entregamos a qualquer dia,em qualquer lugar</p>
            </div>
          </div>

        </div>


  </div>

</div>
