<app-nav-bar></app-nav-bar>
<div class="profile" >

  <div class="profile-container">
  <app-bread-crumbs></app-bread-crumbs>

  <h3>Perfil</h3>
  <div>{{this.profileService.user().name}}</div>
  <!-- Personal Information Card -->
  <div class="profile-card not-editable">
    <div class="card-header">
      <h5>Suas Informações</h5>
      <i
        [ngClass]="!isPersonalEditing?'bi bi-pencil':'bi bi-x'"
        (click)="togglePersonalEdit()"
        (keydown)="togglePersonalEdit()"
        [class.active]="isPersonalEditing">
      </i>
    </div>

    <form [formGroup]="personalForm" *ngIf="isPersonalEditing">

      <div class="col-sm-8 mt-4">
        <label for="name">Nome</label>
        <div class="form-group" [ngClass]="isFieldInvalid(personalForm, 'name') ? 'has-danger' : ''">
            <input formControlName="name"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Nome Completo">
            <div *ngIf="isFieldInvalid(personalForm, 'name')" class="form-control-feedback">Nome é obrigatório</div>
        </div>
      </div>

      <div class="col-sm-8 mt-4">
        <label for="name">Telefone</label>
        <div class="form-group" [ngClass]="isFieldInvalid(personalForm, 'tel') ? 'has-danger' : ''">
            <input formControlName="tel"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Telefone">
            <div *ngIf="isFieldInvalid(personalForm, 'tel')" class="form-control-feedback">Teleforne é obrigatorio</div>
        </div>
      </div>

      <div class="col-sm-8 mt-4">
        <label for="name">Whats App</label>
        <div class="form-group" [ngClass]="isFieldInvalid(personalForm, 'whats_app') ? 'has-danger' : ''">
            <input formControlName="whats_app"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Whats_app">
            <div *ngIf="isFieldInvalid(personalForm, 'whats_app')" class="form-control-feedback">Nome é obrigatório</div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="personalForm.invalid || isSaving" (click)="savePersonal()">
          {{ isSaving ? 'Salvando...' : 'Salvar Alterações' }}
        </button>
      </div>
    </form>

    <div class="info-display" *ngIf="!isPersonalEditing">

      <div class="info-row">
        <h6>{{this.profileService.user().name}}</h6>
      </div>
      <div class="info-row">
        <p>{{this.profileService.user().email}}</p>
        <p>Whats App: {{this.profileService.user().whats_app}}</p>
      </div>
      <div class="info-row">
        <p>CPF {{this.profileService.user().cpf}}</p>
        <p>Tel: {{this.profileService.user().tel}}</p>
      </div>
    </div>
  </div>

  <!-- Address Card -->
  <div class="profile-card">
    <div class="card-header">
      <h5>Endereço</h5>
      <i
        [ngClass]="!isAddressEditing ?'bi bi-pencil':'bi bi-x'"
        (click)="toggleAddressEdit()"
        (keydown)="toggleAddressEdit()"
        [class.active]="isAddressEditing">
      </i>

    </div>

    <form [formGroup]="addressForm" *ngIf="isAddressEditing" (ngSubmit)="saveAddress()">
      <div class="form-field">
        <label for="cep">CEP*</label>
        <input
          id="cep"
          type="text"
          formControlName="postal_code"
          mask="00000-000"
          (blur)="onCepBlur()"
          [class.error]="isFieldInvalid(addressForm, 'postal_code')">
      </div>

      <div class="form-grid">
        <div class="form-field">
          <label for="street">Rua*</label>
          <input
            id="street"
            type="text"
            formControlName="street"
            [class.error]="isFieldInvalid(addressForm, 'street')">
        </div>

        <div class="form-field">
          <label for="neighborhood">Bairro*</label>
          <input
            id="neighborhood"
            type="text"
            formControlName="neighborhood"
            [class.error]="isFieldInvalid(addressForm, 'neighborhood')">
        </div>

        <div class="form-field">
          <label for="city">Cidade*</label>
          <input
            id="city"
            type="text"
            formControlName="city"
            [class.error]="isFieldInvalid(addressForm, 'city')">
        </div>

        <div class="form-field">
          <label for="state">Estado*</label>
          <input
            id="state"
            type="text"
            formControlName="state"
            [class.error]="isFieldInvalid(addressForm, 'state')">
        </div>

        <div class="form-field">
          <label for="state">País*</label>
          <input
            id="country"
            type="text"
            formControlName="country"
            [class.error]="isFieldInvalid(addressForm, 'country')">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="addressForm.invalid || isSaving" (click)="saveAddress()">
          {{ isSaving ? 'Salvando...' : 'Salvar Alterações' }}
        </button>
      </div>
    </form>

    <div class="info-display" *ngIf="!isAddressEditing">
      <div class="info-row">
        <span class="label">CEP:</span>
        <span class="value">{{ this.profileService.user().address.postal_code }}</span>
      </div>
      <div class="info-row">
        <span class="label">Endereço:</span>
        <span class="value">{{ this.profileService.user().address.street}}</span>
      </div>
      <div class="info-row">
        <span class="label">Bairro:</span>
        <span class="value">{{ this.profileService.user().address.neighborhood }}</span>
      </div>
      <div class="info-row">
        <span class="label">País:</span>
        <span class="value">{{ this.profileService.user().address.country }}</span>
      </div>
      <div class="info-row">
        <span class="label">Cidade/Estado:</span>
        <span class="value">{{ this.profileService.user().address.city }} / {{ this.profileService.user().address.state }}</span>
      </div>
    </div>
  </div>
</div>
</div>
