<div class="card">
  <div class="card-header">
    <div class="user-detail">
      <div class="header-text">
        <h5>pedido realizado </h5>
        <h5>11 janeiro 2025</h5>
      </div>

      <div class="header-text">
        <h5>Total </h5>
        <h5>R$ 11,90</h5>
      </div>

      <div class="header-text address-title">
        <h5>Enviar para</h5>
        <a href="#">Roberto Chaves Souza</a>
      </div>
    </div>


      <div class="oder-id">
        <h5>DETALHES PEDIDO</h5>
        <a href="#">6779e9f3c20b6ee494d0e859</a>
      </div>
  </div>
  <div class="card-body">
   <div order-deti>
    <h3>Pagamento já Realizado</h3>
    <h4>Pedido solicitado para entrega</h4>
    <h4>Horário para entrega: 19:30</h4>
   </div>
   <div class="actions">
    <button type="button" class="btn btn-primary">Avaliar Entrega</button>
    <button type="button" class="btn btn-outline-primary">Entrar em Contato</button>
   </div>
  </div>
</div>
