<div class="dashboard-container">
  <div class="purchases-container">
  <app-bread-crumbs></app-bread-crumbs>
  <h1>Minhas Solicitações</h1>
  <span class="purchase-count">2 compras</span>
  <div class="search-bar">

    <div class="col-sm-3">
      <div class="form-group">
          <input type="text" class="form-control form-control-success" id="inputSuccess1" placeholder="Pesquisar">
      </div>
  </div>
    <button type="button" class="btn btn-danger btn-round btn-sm">Nova Entrega</button>

  </div>


  <div class="purchases-list">
    <app-order-card></app-order-card>
    <app-order-card></app-order-card>
    <app-order-card></app-order-card>

  </div>
</div>
</div>









