<div class="dashboard-container">
  <app-nav-bar></app-nav-bar>
  <div class="purchases-container">
  <app-bread-crumbs></app-bread-crumbs>
  <h1>Compras</h1>

  <div class="search-bar">
    <div class="search-input">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Buscar" >
    </div>
    <div class="filter">
      <button>
        <i class="bi bi-funnel"></i>
        Todas
      </button>
      <span class="purchase-count">2 compras</span>
    </div>
  </div>


  <div class="purchases-list">
    <app-order-card></app-order-card>
    <app-order-card></app-order-card>
    <app-order-card></app-order-card>

  </div>
</div>
</div>









