<div class="create-order-container">

  <div class="crumb-container">
    <app-bread-crumbs></app-bread-crumbs>
  </div>
  <div class="form-container">

    <form [formGroup]="registrationForm">
      <h3 class="title">Solicitar Um Recebimento</h3>

      <div class="form-grid">
        <!-- Personal Information -->
        <div class="form-section">
          <h5>Suas Informações</h5>

          <div class="col-sm-8 mt-4">
            <div class="form-group" [ngClass]="isFieldInvalid('name') ? 'has-danger' : ''">
                <input formControlName="name"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Nome Completo">
                <div *ngIf="isFieldInvalid('name')" class="form-control-feedback">Nome é obrigatório</div>
            </div>
          </div>

          <div class="col-sm-8 mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('cpf') ? 'has-danger' : ''">
                  <input formControlName="cpf" mask="000.000.000-00"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="CPF">
                  <div *ngIf="isFieldInvalid('cpf')" class="form-control-feedback">CPF é obrigatório</div>
              </div>
          </div>

          <div class="col-sm-8 mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('phone') ? 'has-danger' : ''">
                  <input formControlName="phone" mask="(00) 00000-0000"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Telefone">
                  <div *ngIf="isFieldInvalid('phone')" class="form-control-feedback">Telefone é obrigatório</div>
              </div>
          </div>

          <div class="col-sm-8 mt-4">
            <span>Produto para entrega?</span>
            <div class="mt-2 input-check">
              <input type="radio" value="Yes"/> <span>Sim</span>
            </div>
            <div class="mt-2 input-check">
              <input type="radio" value="no" formControlName="to_delivery"/> <span>Não</span>
            </div>
          </div>



        </div>

        <!-- Physical Characteristics -->
        <div class="form-section">
          <h5>Sobre o Produto</h5>

          <div class="col-sm-8 mt-4">
            <div class="form-group" [ngClass]="isFieldInvalid('product_name') ? 'has-danger' : ''">
                <input formControlName="product_name"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Nome do Produto">
                <div *ngIf="isFieldInvalid('product_name')" class="form-control-feedback">Por favor de um nome para seu produto</div>
            </div>
          </div>

          <div class="col-sm-8 mt-4">
            <select id="size" formControlName="size" class="form-control form-control-danger" [class.error]="isFieldInvalid('size')">
              <option value="">Selecione o tamanho aproximado</option>
              <option value="P">P (carta ou envelope)</option>
              <option value="M">M (até 30cm) </option>
              <option value="G">G (mais de 30cm) </option>
            </select>
            <div *ngIf="isFieldInvalid('size')" class="form-control-feedback">Por favor de um nome para seu produto</div>
          </div>

          <div class="col-sm-8 mt-4">
            <select id="size" formControlName="weight" class="form-control form-control-danger" [class.error]="isFieldInvalid('weight')">
              <option value="">Selecione o peso aproximado</option>
              <option value="P">P (1kG)</option>
              <option value="M">M (1kg á 3kg) </option>
              <option value="G">G (3kg á 10kg) </option>
            </select>
            <div *ngIf="isFieldInvalid('weight')" class="form-control-feedback">Por favor de um nome para seu produto</div>
          </div>

          <h6 class="mt-4 text-danger">Atenção: Para produtos maiores que os tamanhos acima informados por favor entra em contato antes de finalizar o pedido.</h6>
          <button type="button" class="btn btn-outline-success btn-round"><i class="bi bi-whatsapp"></i> Contato</button>
      </div>
        <!-- Address Information -->
        <div class="form-section full-width">
          <h5>Endereço para Entrega</h5>

          <div class="col-sm-3 mt-4">
            <div class="form-group" [ngClass]="isFieldInvalid('cep') ? 'has-danger' : ''">
                <input formControlName="cep"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="CEP">
                <div *ngIf="isFieldInvalid('cep')" class="form-control-feedback">CEP Inválido</div>
            </div>
          </div>

          <div class="address-grid">
            <div class="mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('street') ? 'has-danger' : ''">
                  <input formControlName="street"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Rua">
                  <div *ngIf="isFieldInvalid('street')" class="form-control-feedback">Rua é Obrigatório</div>
              </div>
            </div>

            <div class="mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('neighborhood') ? 'has-danger' : ''">
                  <input formControlName="neighborhood"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Bairro">
                  <div *ngIf="isFieldInvalid('neighborhood')" class="form-control-feedback">Bairro é Obrigatório</div>
              </div>
            </div>

            <div class="mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('city') ? 'has-danger' : ''">
                  <input formControlName="city"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Cidade">
                  <div *ngIf="isFieldInvalid('city')" class="form-control-feedback">Bairro é Obrigatório</div>
              </div>
            </div>

            <div class="mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('state') ? 'has-danger' : ''">
                  <input formControlName="state"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="Estado">
                  <div *ngIf="isFieldInvalid('state')" class="form-control-feedback">Bairro é Obrigatório</div>
              </div>
            </div>

            <div class="mt-4">
              <div class="form-group" [ngClass]="isFieldInvalid('country') ? 'has-danger' : ''">
                  <input formControlName="country"  type="text" class="form-control form-control-danger" id="inputDanger" placeholder="País">
                  <div *ngIf="isFieldInvalid('country')" class="form-control-feedback">Bairro é Obrigatório</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Additional Information -->
        <div class="form-section full-width">
          <div class="form-field">
            <label for="observation">Observação</label>
            <textarea
              id="observation"
              formControlName="observation"
              rows="4">
            </textarea>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" (click)="onSubmit()" class="btn btn-danger">
          Solicitar
        </button>
      </div>
    </form>
  </div>

</div>
