<div class="register-container">

  <div class="login-card shadow-sm p-3 mb-5 bg-white rounded">
    <h1 class="title" >Cadastre-se</h1>

    <div class="input user">
      <label for="typeahead-basic">Email</label>
      <input id="typeahead-basic" type="text" class="form-control"/>
    </div>

    <div class="input password">
      <label for="typeahead-basic">Senha</label>
      <input id="typeahead-basic" type="password" class="form-control"/>
    </div>

    <div class="input password">
      <label for="typeahead-basic">Repita a Senha</label>
      <input id="typeahead-basic" type="password" class="form-control"/>
    </div>

    <button type="button" class="btn btn-primary bt-login">entrar</button>

    <div class="register"><p>Já tem uma conta?</p><a href="login" class="login-link">Entrar</a></div>

  </div>

</div>
