<nav class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <img src="assets/logo.png" alt="logo" class="logo">
      <a href="#" class="logo-name">Nos recebemos</a>
    </div>

    <!-- Mobile menu button -->
    <button class="mobile-menu-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <!-- Nav links -->
    <div class="nav-links" [class.active]="isMenuOpen">
      <button class="bt-link" (click)="navigate('dashboard')">Início</button>
      <button class="bt-link" (click)="navigate('dashboard/order/create')">Solicitar</button>
      <button class="bt-link">About</button>
      <button class="bt-link perfil-menu" (click)="navigate('perfil')">Olá, {{this.profileService.user()?.name | shotName}}</button>
    </div>
  </div>
</nav>
