@import 'src/assets/local_css/_variables.scss';
.navbar {
  background-color: $primary-color;
  height: 4.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 6px 10px -4px #00000026;
}

.navbar-transparent {
  background-color: transparent;
  color: white;
  box-shadow: none;
}

.navbar-container {
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-container{
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}


.logo {
  width: 3rem;
  height: 3rem;
}
.logo-name {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  .bt-link{
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  .bt-link:hover {
    color: $dark-gray ;
  }

  .btn-register{
    background-color: transparent;
    border-color:$danger-color-ligth ;
  }
  .btn-register:hover{
    background-color: $danger-color-ligth;
  }
  .btn-login{
    background-color: white;
    color: $danger-color-ligth;
    border-color: transparent;
  }
  .btn-login:hover{
    border-color: $danger-color-ligth;
  }

}



.perfil-menu {
  color: white;
  font-weight: 600;
}



.contact-btn {
  background-color: #3483fa;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: #2B2C34 !important;
  font-weight: 500;
}

.contact-btn:hover {
  background-color: #4FB3BE;
  color: #2B2C34 !important;
}

.mobile-menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .mobile-menu-btn {
    display: flex;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    background-color: #2B2C34;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    transition: 0.3s ease-in-out;
    gap: 2rem;
  }

  .nav-links.active {
    right: 0;
  }

  .mobile-menu-btn.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
  }

  .mobile-menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
  }
}
