<nav class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <img src="assets/logo.png" alt="logo" class="logo">
      <a href="#" class="logo-name">Nos recebemos</a>
    </div>

    <!-- Mobile menu button -->
    <button class="mobile-menu-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <!-- Nav links -->
    <div class="nav-links" [class.active]="isMenuOpen">
      <a href="dashboard">Início</a>
      <a href="dashboard/order/create">Solicitar</a>
      <a href="about">About</a>
      <a class="perfil-menu" href="perfil" >Olá,Roberto</a>
    </div>
  </div>
</nav>
