<nav class=" navbar navbar-expand-lg fixed-top">
  <div class="navbar-container">
    <div class="logo-container">
      <a href="#" class="navbar-brand">Nos recebemos</a>
    </div>

    <!-- Mobile menu button -->
    <button class="mobile-menu-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <!-- Nav links -->
    <div class="nav-links" [class.active]="isMenuOpen">
      <button class="bt-link" (click)="navigate('dashboard')"><i class="bi bi-house"></i>  Início</button>
      <button class="bt-link" (click)="navigate('dashboard/order/create')"><i class="bi bi-file-earmark-plus"></i> Solicitar</button>
      <button class="bt-link"><i class="bi bi-compass"></i> About</button>
      <button *ngIf="is_logged_in" class="bt-link perfil-menu" (click)="navigate('perfil')">Olá, {{this.profileService.user()?.name | shotName}}</button>
      <button *ngIf="!is_logged_in" type="button" class="btn btn-login btn-round btn-sm" (click)="navigate('register')" >Cadastre-se</button>
      <button *ngIf="!is_logged_in" type="button" class="btn btn-register btn-outline btn-round btn-sm" (click)="navigate('login')">entrar</button>
    </div>
  </div>
</nav>
